.budget-map {
  position: relative;
  height: 500px;

  iframe {
    height: 100%;

  }
}

.contact-line {
  position: relative;


  .container {
    position: relative;
    z-index: 3;

    .inner {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      @media (max-width: 768px) {
        column-gap: 9px;

      }
      .box {
        display: flex;
        column-gap: 30px;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 40px 10px;
        flex-basis: calc(33.33% - 20px);
        row-gap: 20px;
        box-shadow: 0 0 3px 1px #ccc;


        @media (max-width: 992px) {
          padding: 40px 10px;

        }

        @media (max-width: 768px) {
          padding: 20px 10px;
          flex-basis: calc(33.33% - 6px);

        }

        @media (max-width: 640px) {
          padding: 20px 5px;

        }
        .icon {
          font-size: 42px;
          color: var(--brand-color-1);
          // height: 60px;
          width: 64px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;

          @media (max-width: 768px) {
            width: 32px;
          }

          img {
            width: 100%;
          }

        }

        .text {
          display: flex;
          flex-direction: column;
          column-gap: 20px;
          flex-wrap: wrap;

          h5 {
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
          }

          h4 {
            text-align: center;
          }

        }

        .icon-box {
          display: flex;
          column-gap: 10px;
          justify-content: center;

          a {
            font-size: 15px;
            color: #fff;
            transition: all 500ms ease;
            background-color: var(--brand-color-2);
            padding: 8px 12px;
            border-radius: 5px;

            &:hover {
              transform: scale(1.1);
            }

          }
        }

      }

      .left {
        background-color: var(--brand-color-2);
      }

      .middle {
        background-color: var(--brand-color-1);

      }

      .right {
        background-color: var(--brand-color-2);

      }

      .social {
        background-color: var(--brand-color-1);


      }

    }

  }
}


.contact-middle {
  padding-bottom: 20px;
  padding-top: 0;

  .inner {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    background-color: var(--brand-color-1);
    @media (max-width: 768px) {
      flex-direction: column-reverse;
  }
    .left {
      flex-basis: calc(50% - 20px);
      padding: 40px 40px;


      @media (max-width: 768px) {
        flex-basis: 100%;
        padding: 15px 10px;
    }

      .section-heading-container {
        text-align: left;

        h5 {
          color: #ccc;

          span {
            color: #ccc;
          }
        }

        h3 {
          color: #fff;
        }

        .bottom-dots {
          span {
            background-color: #ccc;
          }
        }
      }

      .section-heading-details {
        text-align: left;
      }
    }

    .contact-page-form {
      margin-top: 60px;
      @media (max-width: 768px) {
margin-top: 30px;   
 }
      form {
        display: flex;
        width: 100%;
        display: flex;
        column-gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        @media (max-width: 768px) {
column-gap: 10px;
           }
      }

      .inputContainer {
        // width: 100%;
        flex-basis: calc(50% - 15px);
        @media (max-width: 768px) {
          flex-basis: calc(50% - 5px);
        }
      }

      .input-textarea {
        flex-basis: 100%;
      }

      .inputContainer input {
        width: 100%;
        border: none;
        padding: 8px 8px;
        background-color: #f5f5f5;
        height: 40px;
        font-family: var(--font-tit);

        &:focus-visible {
          border: 1px solid var(--brand-color-1);
        }
      }

      .inputContainer textarea {
        width: 100%;
        border: none;
        padding: 8px 8px;
        background-color: #f5f5f5;
        height: 80px;
        font-family: var(--font-tit);


      }

      .inputContainer label {
        color: #ccc;
        font-size: var(--para);
        font-family: var(--font-tit);

      }

    }

  }

  .right {
    flex-basis: calc(50% - 20px);
    @media (max-width: 768px) {
      flex-basis: 100%;
  }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }



}