.activity-box {
    position: relative;
    transition: all 500ms ease;
    cursor: pointer;
    color: #fff;

    &:hover {
        opacity: 0.9;

        .activity-title {
            color: var(--brand-color-1);
        }

        .activity-info {
            color: #fff;
        }
    }

    .activity-image {
        height: 500px;
        @media (max-width: 768px) {
            height: 300px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .activity-details {
        position: absolute;
        top: 30px;
        padding: 80px 20px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 400px;
        max-width: 100%;

        @media (max-width: 768px) {
            top: auto;
            padding: 30px 15px;
            bottom: 0;
        }

        .activity-title {
            font-size: 18px;

            h2 {
                font-size: inherit;
                color: inherit;
                margin: 0 !important;
                padding: 0 !important;

            }
        }

        .activity-info {
            font-size: 14px;
            @media (max-width: 768px) {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            p {
                font-size: inherit;
                color: inherit;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}