/* =========================================
   3. Header
   ========================================= */
.header {
  width: 100%;
  z-index: 100;
  padding: 25px 0;
  height: var(--header-height);

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
  }
}

.logo {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  // font-family: var(--font-head);
  img{
    left: 0;
    position: absolute;
    width: 150px;
    object-fit: contain;
    height: auto;

  }
}

.navbar{
  flex-basis: 60%;

}
.nav-links {
  display: flex;
  gap: 35px;

  a {
    font-weight: 500;
    font-family: var(--font-outfit);
    font-size: var(--para-heading);

    &.active,
    &:hover {
      color: var(--white);
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 20%;

  .right-box{
    display: flex;
    column-gap: 10px;
    align-items: center;

    .icon{
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color);
      border-radius: 50%;
      color: #fff;
    }
    
    .info-field{
      .title{
        font-size: var(--para);
        font-family: var(--font-outfit);
        font-weight: 500;
      }
      .info{
        font-size: var(--para);
      }

    }
  }
  .search-trigger {
    background: transparent;
    color: var(--white);
    font-size: 1.2rem;
  }

  .btn-login {
    background: var(--primary-color);
    color: var(--white);
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: var(--para);

    &:hover {
      background: #4738C8;
      /* Or darken(var(--primary-color), 10%) if strictly SCSS */
      opacity: 0.9;
    }
  }
}

.mobile-toggle {
  display: none;
  background: transparent;
  color: var(--white);
  font-size: 1.5rem;
}